<head>
  <link rel="stylesheet" href="../../stylesheets/navbar.css" />
</head>
<section id="navigation">
  <nav
    role="navigation"
    class="navbar navbar-dark fixed-top navbar-expand-lg navbar__bg"
  >
    <div class="container-fluid mb-5">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon hamburger__bg"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link nav-brand" href="/">Home</a>

          <a class="nav-link" href="/camps">Camps</a>
          <% if(user) { %>
          <a class="nav-link" href="/camps/new">New Camp</a>
          <% } %>
        </div>
        <div class="navbar-nav center ms-auto">
          <% if(!user) { %>
          <a href="/login" class="nav-link">Login</a>
          <a href="/register" class="nav-link">Register</a>
          <% } else { %>
          <a href="/Logout" class="nav-link">Logout</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>
</section>
