<% layout('layouts/boilerplate')%>

<div class="row">
  <h1 class="text-center">New Camp</h1>
  <div class="col-md-6 offset-md-3">
    <form
      action="/camps"
      method="post"
      novalidate
      class="validForm"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="camp[title]"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="camp[location]"
          required
        />
      </div>
      <label for="input">Upload Images</label>
      <div class="input-group mb-3 mt-2">
        <input
          type="file"
          class="form-control"
          id="input"
          name="image"
          multiple
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Camp Price</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="price">$</span>
          <input
            type="text"
            id="price"
            class="form-control"
            placeholder="0.00"
            name="camp[price]"
            required
          />
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="camp[description]"
          required
        ></textarea>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Add Camp</button>
      </div>
    </form>
  </div>
</div>
