body {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./robert-koorenny-Py2ULdPgHac-unsplash.jpg");
  background-size: cover;
  background-position: center;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}
.cover-container {
  max-width: 60vw;
}

.btn-secondary,
.btn-secondary:hover {
  color: white;
  background-color: #116530;
}

.home__title {
  margin-top: -4rem;
  margin-bottom: 2rem;
  font-size: 3rem;
}

.home__subheader {
  margin-bottom: 3rem;
  font-size: 1.8rem;
}

.home__button {
  color: white;
  background-color: #18a558;
  border: 1.5px solid #116530;
}

@media (max-width: 600px) {
  .home__title {
    font-size: 2rem;
  }
  .home__subheader {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
  }
  .body {
    height: 100vh;
  }
}
